*{
    box-sizing: border-box;
    margin:0px;
}
body{
    width: 100%;
    font-size: 23px;
    background-color: #D0F0C0;
    font-family: 'Roboto', sans-serif;
}
.special-space-y{
    margin-top: 0.5rem;
}

/* Styles the header of the body */
.header-section{
    background-color: #335E3B;
    padding: 30px;
    position: fixed;
    width: 100%;
    height: 120px;
    top: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    color: #fff;
}
.checkout{
    display:flex;
}
.checkout-cart{
    height: 40px;
    cursor: pointer;
}

.icon{
    display: none;
}
#total-quantity{
    background-color: #D0F0C0;
    height: 40px;
    color: black;
    padding: 0rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
}
a:hover{
    color: red;
}
a:active{
    color: gray;
}
h3, h4{
    color: lightgreen;
}
.nav-ul{
    display: flex;
}
li{
    list-style:none;
    padding-right: 22px;
}

/* Styles the main content of the body */
#shop{
    text-align: center;
    margin-top: 13rem;
}
.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.display-product2{
    background-color: lightgreen;
    border-radius: 4px;
}

.main-product-details{
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
}
.product-text{
    padding: 3rem 2rem 0rem 2rem;
}

.product-text h2{
    font-size: 25px;
}
.product-text h4{
    font-size: 18px;
}
.product-image{
    width: 132px;
    height: 150px;
    border: none;
    margin-top: 105px;
    border-radius: 50%;
}
.discount-price{
    font-size: 18px;
    padding-left: 0.2rem;
    padding-top:1rem;
}
.main-price{
    font-size: 17px;
    padding-left: 2rem;
    margin-top: 0.06rem;
    text-decoration: line-through;
    color:red;
}

.main h4{
    color: purple;
}

.add-view-button{
    float:right;
    font-size:18px; 
    margin:20px 10px;
    color: black;
    background-color: #D0F0C0;
    cursor: pointer;
    
}

/*Special Offer CSS */
.special{
    margin-top: 2rem;
}
.special-offer-container{
    width: 100;
    margin: 0rem 5rem 8rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.special-offer-header{
    text-align: center;
    margin-top: 7rem;
    text-decoration: underline;
}
.special-offer-image{
    border-radius: 50%;
    width: 100%;
    max-width: 400px;
    height: auto;
    /* margin: 5rem 0rem 0rem 15rem; */
    
}
.special-offer{
    float: right;
    margin:3rem 1rem 0rem 4rem;
    text-align: justify;
}
.special-offer p{
    font-size: 20px;
    line-height: 30px;
    margin-right: 2rem;
}
.special-offer h2{
    color: #335E3B;
    padding-bottom: 8px;
}
.special-button{
    float: left;
}
/*display Products */
.product-group{
    display: flex;
    justify-content: center;
}
.product-group-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.product-group-image{
    max-width: 200px;
    max-height: 200px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.product-group-p{
    text-align: center;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 18px;
}
/* Main Products Display*/
.product-header{
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

/* Footer */
footer{
    background-color: #335E3B;
    font-size: 18px;
    text-align: center;
    padding-bottom: 3rem;

}
.footer-body{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}
.footer-header{
    padding: 30px 0px;
    text-transform: uppercase;
}
.footer-li{
    text-align: center;
    margin-top:10px;
}
.footer-social-icon{
    text-align: right;
    padding-right: 2rem;
    margin-top:-30px;
}
.footer-icon{
    margin-right: 10px;
    text-decoration: none;
}


@media only screen and (max-width: 644px){
    body{
        font-size: 18px;
    }
    /* Styles the header of the body */

    .header-logo{
        font-size: 25px;
    }

    .nav-ul {
        display: none;
      }
    
    .header nav{
        margin-top: -10px;
    }
    .header {
       overflow: hidden;
       position: relative;
       background-color: #335E3B;
       width: 100%;
    }
      
      .header a {
        color: #fff;
        display: block;
        font-size: 17px;
      }
      
      .header a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .header a:hover {
        background-color: lightgreen;
        color: black;
      }
      
      .active {
        color: #335E3B;
      }
      

    /* Styles the main content of the body */
    .product-header{
        padding: 20px;
        margin-top: 40px;
        text-align: center;
    }
    .products{
        grid-template-columns: 1fr;
    }
    .product-image{
        width: 250px;
        height: 190px;
        margin-top: 90px;
    }
    .add-view-button{
        float: right;
        margin-right: 1rem;
        font-size:17px;
    }
    .gap{
        margin-right:1rem;
    }

    /*Special Offer CSS */

    .special-offer-container{
       flex-wrap: wrap;
       margin: 1rem 2rem 8rem 1rem;
    }

    
/*display Products */

    .product-group-image{
        width: 30px;
        height: 30px;
        
    }
    .product-group-p{
        font-size:13px;
    }
    /* Main Products Display*/
    h4{
        color: green;
        font-size: 20px;
        padding-bottom: 1rem;
    }
    /* Footer */
    .footer-body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-header{
        font-size: 13px;
    }
    .footer-li{
        text-align: center;
        margin-top:2px;
        font-size: 13px;
    }
    .footer-social-icon{
        text-align: right;
        padding-right: 2rem;
        margin-top:-30px;
    }
    .footer-icon{
        margin-right: 10px;
        text-decoration: none;
    }
}

@media only screen and (min-width: 645px) and (max-width: 994px) {
    body{
        font-size: 18px;
    }
    /* Styles the header of the body */
    .header-section {
        font-size: 18px;
        padding: 20px;
    }
    .checkout-cart{
        height: 35px;
        width: 40px;
    }
    #total-quantity{
        height: 35px;
    }
    .icon{
        display: none;
    }

    /* Styles the main content of the body */

    .products{
        grid-template-columns: 1fr 1fr;
    }


    
    /*display Products */
    .special-offer-p{
        margin-right: 0.5rem;
    }

    .product-group-image{
        width: 30px;
        height: 30px;
        
    }
  
    /* Footer */
    .footer-body{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .footer-header{
        font-size: 17px;
    }
    .footer-li{
        text-align: center;
        margin-top:2px;
        font-size: 17px;
    }
    .footer-social-icon{
        text-align: right;
        padding-right: 2rem;
        margin-top:-30px;
    }
    .footer-icon{
        margin-right: 10px;
        text-decoration: none;
    }
}